In [1]:
from aev import EVS, EVC

In [2]:
evs_config = {'N': 50000, 'Ns': 20,
              'Tagc': 4.0, 'socf': 0.2,
              'agc': 0, 'ict': 0,
              'memory_save': 1,
              'seed': 2022, 'r': 0.5}

mcs_config = {'ts': 18.0, 'h': 1.0,
              'no_tqdm': 0, 'th': 4.0}

nd_param = {'soci': {'mu': 0.3, 'var': 0.05, 'lb': 0.2, 'ub': 0.4},
            'socd': {'mu': 0.8, 'var': 0.03, 'lb': 0.7, 'ub': 0.9},
            'ts1': {'mu': -6.5, 'var': 3.4, 'lb': 0.0, 'ub': 5.5},
            'ts2': {'mu': 17.5, 'var': 3.4, 'lb': 5.5, 'ub': 24.0},
            'tf1': {'mu': 8.9, 'var': 3.4, 'lb': 0.0, 'ub': 20.9},
            'tf2': {'mu': 32.9, 'var': 3.4, 'lb': 20.9, 'ub': 24.0},
            'tt': {'mu': 0.5, 'var': 0.02, 'lb': 0, 'ub': 1}}

ud_param = {'Pc': {'lb': 5.0, 'ub': 7.0},
            'Pd': {'lb': 5.0, 'ub': 7.0},
            'nc': {'lb': 0.88, 'ub': 0.95},
            'nd': {'lb': 0.88, 'ub': 0.95},
            'Q': {'lb': 20.0, 'ub': 30.0}}

In [3]:
evs = EVS(config=evs_config, mcs_config=mcs_config,
          ud_param=ud_param, nd_param=nd_param,
          name='EVS1')

# --- pointer ---
emcs = evs.MCS  # MCS object
mdp = evs.MCS.data  # MCS data object

Memory save:, EVs out of time range [18.0, 22.0] are dropped.
EVS1: Initialized successfully with:
Capacity: 50000, r: 0.5
EVS1: Clock: 18.005[H], Online: 14477, Total: 23459

In [4]:
evs

EVS1: Clock: 18.005[H], Online: 14477, Total: 23459

In [5]:
emcs.g_u()

array([1., 1., 1., ..., 0., 1., 0.])

In [6]:
emcs.g_c()

array([0., 0., 0., ..., 0., 0., 0.])

In [7]:
emcs.config.tf = 22.0

In [8]:
emcs.run()

100%|██████████| 100/100 [00:04<00:00, 21.89%/s]

True

In [9]:
emcs.ts.as_df()

               t        Ptc  Prc   Pi
0      18.000000 -35.701465 -0.0  0.0
1      18.000278 -35.712746 -0.0  0.0
2      18.000556 -35.707322 -0.0  0.0
3      18.000833 -35.706511 -0.0  0.0
4      18.001111 -35.706612 -0.0  0.0
...          ...        ...  ...  ...
14396  21.998889 -23.308559 -0.0  0.0
14397  21.999167 -23.308559 -0.0  0.0
14398  21.999444 -23.303265 -0.0  0.0
14399  21.999722 -23.297419 -0.0  0.0
14400  22.000000 -23.303036 -0.0  0.0

[14401 rows x 4 columns]

In [10]:
mdp.as_df()[['u', 'c', 'soc', 'soc0', 'socd', 'ts', 'tf']]

         u    c       soc      soc0      socd         ts         tf
0      0.0  0.0  1.000000  1.000000  0.801419   5.411978  19.433863
1      0.0  0.0  1.000000  1.000000  0.843227   5.457545  19.964115
2      0.0  0.0  1.000000  1.000000  0.834029   5.259210  18.453678
3      0.0  0.0  1.000000  1.000000  0.767867   5.413251  19.445908
4      0.0  0.0  1.000000  1.000000  0.802057   5.208551  18.231111
...    ...  ...       ...       ...       ...        ...        ...
23454  1.0  0.0  0.801657  0.733367  0.801636  15.758989  22.829240
23455  0.0  0.0  1.000000  1.000000  0.812834  12.609995  21.774760
23456  1.0  0.0  0.838173  0.358874  0.838157  18.681711  23.545518
23457  1.0  0.0  0.821765  0.821765  0.788332  14.794725  22.519450
23458  1.0  0.0  0.771762  0.255674  0.771736  18.118045  23.436953

[23459 rows x 7 columns]